.spoiler {
    background-color: var(--ifm-color-primary);
    color: var(--ifm-color-primary);
    transition: all 0.5s ease;
    padding: 0 0.25em;
}

.spoiler:hover {
    background-color: var(--ifm-background-color);
    color: var(--ifm-font-color-base);
}